body {
	background-color:#424242;
	font-family:arial;
}
nav {
	background-color: #00F0FF;
	height: 50px;
}
.active {
	background-color: #0038FF;
	color: #FFFFFF;
}
nav > ul {
	list-style:none;
	padding-top:12.5px;
}
nav > ul > li {
	display:inline;
	margin-right:35px;
	font-size:20;
}
nav > ul > li > a {
	color:#0038FF
}
nav > ul > li > a:hover {
	color:#FFFFFF;
	background-color:#0038FF;
}
nav > ul > li > a:active, a:active {
	color:#000000;
	background-color:yellow;
}
.blue {
	color: #00F0FF;
}
.white, hr {
	color: #FFFFFF;
}
.blue2 {
	color: #0038FF;
}
img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
h3 {
	padding-left:200px;
	padding-right:200px;
	text-align:center;
}
h1, footer {
	text-align:center;
}
::selection {
	background-color:yellow;
	color:#000000;
}
.sprite1 {
	background: url('../images/icon.png') no-repeat -182px -91px;
	width:33px;
	height:33px;
	margin-left:733.5px;
}
.sprite1:hover {
	background: url('../images/icon.png') no-repeat -182px -16px;
	width:33px;
	height:33px;
}
.sprite2 {
	background: url('../images/icon.png') no-repeat -296px -91px;
	width:33px;
	height:33px;
	margin-left:733.5px;
}
.sprite2:hover {
	background: url('../images/icon.png') no-repeat -296px -16px;
	width:33px;
	height:33px;
}
.sprite3 {
	background: url('../images/icon.png') no-repeat -11px -91px;
	width: 32px;
	height: 33px;
	margin-left:733.5px;
}
.sprite3:hover {
	background: url('../images/icon.png') no-repeat -11px -16px;
	width: 33px;
	height: 33px;
}